.el-form-item__label {
    @include textColor(textColor);
}

.el-input {
    .el-input__wrapper {
        @include useTheme {
            background: getVar(inputBgColor);
            box-shadow: 0 0 0 1px getVar(borderColor) inset;
        }
    }

    .el-input__inner {
        @include useTheme {
            color: getVar(inputTextColor);
        }
    }
}

.el-checkbox {
    @include textColor(inputTextColor);
}

.el-radio {
    @include textColor(inputTextColor);
}

.el-textarea__inner {
    @include useTheme {
        background: getVar(inputBgColor);
        box-shadow: 0 0 0 1px getVar(borderColor) inset;
    }
}