$themes: (
    light: (
        bgColor: #fff,
        textColor: #000,
        iconColor: #0ed,
        borderColor: #000
    ),
    dark: (
        bgColor: #000,
        textColor: #fff,
        iconColor: #ccc,
        borderColor: #0078ff,
    )
)