$themes: (
    light: ( // 亮主题
        bgColor: #fff,
        textColor: #000,
        iconColor: #0ed,
        borderColor: #000
    ),
    dark: ( // 暗主题
        bgColor: #000,
        textColor: #fff,
        iconColor: #ccc,
        borderColor: #0078ff,
    )
     // ... 其他主题色 颜色变量名 同上
)